torch
requests
langdetect
TTS
yt-dlp
webvtt-py
python-docx
openai-whisper
ollama
chardet
librosa
pydub
faster_whisper
whisper_timestamped
inflect
unidecode
pypinyin
cn2an
six
webvtt-py
opencv-python
PyQt5
git+https://github.com/jeremyy5528/OpenVoice.git
torchvision
